<style>
    /*This makes empty spaces next to divisions*/
    * {
        margin: 0;
        border: 0;
        padding: 0;
    }
    html, body {
        margin: 0;
        border: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
    table {
        color: #333;
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 5px;
        font-family: "Times New Roman";
    }
    tr:hover {
        background: #ffedc4 !important;
    }
    h3 {
        font-size: 30px;
    }
    a {
        text-decoration: none;
    }
    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;

        background-color: white;
        color: black;
        border: 2px solid #555555;
        border-radius: 5px;
    }
    button:hover {
        background-color: #555555;
        color: white;
    }
    .header {
        background-color: #3a3a3a;
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0;
        top: 0;
        font-family: 'Montserrat';
        z-index: 100;
        box-shadow: 0px 5px 10px gray;
    }
    .header a {
        color: #ffffff;
    }
    .header h1 {
        font-size: 20px;
        float: left;
        margin-left: 20px;
        color: #ffffff;
    }
    .header span {
        color: #f0c330;
    }
    .header nav ul {
        margin-right: 20px;
        float: right;
        list-style: none;
    }
    .header ul li {
        display: inline-block;
        padding: 0 15px;
    }
    .header ul li a {
        font-size: 13px;
        text-decoration: none;
        color: #efefef;
        display: inline-block;
        transition: transform 1s;
    }
    .header ul li a:hover {
        color: #f0c330;
        transform: scale(1.5, 1.5);
    }
    #toggle_label {
        display: none;
        width: 20px;
        float: right;
    }
    #toggle {
        display: none;
    }
    .primary, 
    .primary_contact {
        width: 80%;
        padding: 5% 10%;
        color: black;
        text-decoration: none;
    }
    .primary a {
        color: black;
    }
    section {
        width: 50%;
        float: left;
        margin: 1% 2%;
        text-align: center;
    }
    .footer {
        width: 100%;
        height: 50px;
        font-size: 13px;
        padding: 5px 0;
        background-color: #3a3a3a;
        color: #efefef;
        left: 0;
        bottom: 0;
        position: fixed;
        text-align: center;
    }
    input#name, 
    input#email {
        height: 30px;
        font-size: 12px;
        border: 1px solid gray;
        border-radius: 5px;
    }
    input#message {
        height: 100px;
        font-size: 12px;
        border: 1px solid gray;
        border-radius: 5px;
    }
    #doc {
        margin-top: 60px;
        margin-right: 3%;
    }
    #content {
    	margin: 0 auto;
    	max-width: 1040px;
    }
    .blueberry .pager li a, .blueberry .pager li a span {
        width: 5px;
        height: 5px;
    }
    .blueberry .pager li a {
        border: none;
    }
    .blueberry .pager li a:hover {
        background: none;
    }
    .blueberry .pager li a:link {
        background: none;
    }
    .primary #btn_showDetail {
        margin-left: 500px;
    }
    div.data_range {
        margin: 10px 0;
    }
    a.lineBreak {
        display: inline-block;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    div.lineBreak_desc {
        display: inline-block; 
        width: 900px; 
        white-space: nowrap; 

        white-space: normal; 
        line-height: 1.2;
        word-wrap: break-word; 
        display: -webkit-box; 
        -webkit-line-clamp: 20; 
        -webkit-box-orient: vertical;
    }
    div.lineBreak_cmt {
        display: inline-block; 
        width: 700px; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;

        white-space: normal; 
        line-height: 1.2;
        word-wrap: break-word; 
        display: -webkit-box; 
        -webkit-line-clamp: 20; 
        -webkit-box-orient: vertical;
    }
    div.lineBreak_cmt_AtPay {
        display: inline-block; 
        width: 55%; 
        white-space: normal;

        white-space: normal; 
        line-height: 1.2;
        word-wrap: break-word; 
        display: -webkit-box; 
        -webkit-line-clamp: 20; 
        -webkit-box-orient: vertical;
    }
    div.lineBreak_msg {
        display: inline-block; 
        width: 500px; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;

        white-space: normal;
        line-height: 1.2;
        word-wrap: break-word; 
        display: -webkit-box; 
        -webkit-line-clamp: 20; 
        -webkit-box-orient: vertical;   
    }
    input.textInput {
        border: none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    input.editInput {
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /*Viewport*/
    @media screen and (max-width: 800px) {
        * {
            margin: 0;
            border: 0;
            padding: 0;
        }
        body {
            margin: 0;
            padding: 0;
            max-width: 100%;
        }
        input, select, textarea {
            border: 1px solid black;
            border-radius: 5px;
        }
        button {
            border: 2px solid #555555;
            border-radius: 5px;
        }
        table {
            max-width: 700px;
            width: 100%;
        }
        .primary {
            margin-top: 10%;
            margin-bottom: 50%;
        }
        .primary_contact {
            margin-top: 10%;
            margin-bottom: 1%;
        }
        .header {
            margin: 0;
            padding: 0;
            border: 0;
        }
        .header h1 {
            margin-top: 14px;
            font-size: 20px;
        }
        #toggle_label {
            margin-top: 16px;
            margin-right: 18px;
            display: block;
            cursor: pointer;
        }
        #toggle:checked + .menu {
            display: block;
        }
        .menu {
            width: 130px;
            height: 130px;
            margin-top: 3%;
            margin-left: 65%;
            background-color: #3a3a3a;
            border: 1px solid #ffffff;
            padding: 5px 0;
            display: none;
        }
        .menu li {
            float: right;
            border-bottom: 1px solid #;
        }
        .menu li a {
            font-size: 12px;
            padding: 5px 0;
            text-align: center;
        }
        .menu li a:hover {
            transform: scale(1.1, 1.1);
        }
        /*About Section*/
        #about_img img {
            width: 100%;
            float: left;
        }
        /*Until here*/
        /*Contact Section*/
        #contact #message {
            width: 300px;
        }
        #contact h1 {
            margin-bottom: 10px;
        }
        #contact #name {
            margin: 10px 0;
        }
        #contact #email {
            margin-bottom: 10px;
        }
        /*Until here*/
        .footer {
            font-size: 10px;
        }
        #doc {
            margin-left: 3%;
        }
        #ResponsiveTable {
            margin-bottom: 20px;
        }
        #ResponsiveTable,
        #ResponsiveTable tbody,
        #ResponsiveTable tr,
        #ResponsiveTable td {
            display: block;
            border: 1px solid black;
            font-size: 14px;
        }
        #ResponsiveTable button {
            width: 50px;
            border-radius: 5px;
            border: 1px solid black;
        }
        #HeadRow {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        #ResponsiveTable td {
            border: none;
            position: relative;
            padding-left: 40%;
            text-align: center;
            border-bottom: 1px solid black;
            white-space: normal;
        }
        #ResponsiveTable td::before {
            position: absolute;
            left: 5px;
            width: 34%;
            padding-right: 10px;
            text-align: left;
            font-weight: bold;
            content: attr(tableHeadData);
            border-right: 1px solid black;
        }
        #ResponsiveTable .assignTd::before {
            position: absolute;
            left: 5px;
            width: 80%;
            float: left;
            padding-right: 10px;
            text-align: left;
            font-weight: bold;
            content: attr(tableHeadData);
            border-right: 1px solid black;
        }
        #btn_workdone {
            width: 150px;
        }
        #ResponsiveTable #btn_showComment {
            width: 120px;
        }
        #btn_worksheet button {
            width: 100px;
            border-radius: 5px;
            border: 2px solid #555555;
        }
        #btn_makePDF {
            width: 70px;
            border-radius: 5px;
            border: 1px solid black;
        }
        #btn_invoiceDetail {
            padding: -30px 0;
        }
        #msg_assign {
            width: 90%;
            border: 1px solid black;
        }
        #name,
        #email,
        #year,
        #month,
        #week {
            border: 1px solid gray;
        }
        .primary #btn_showDetail {
            margin-left: 50px;
        }
        div.lineBreak_msg {
            width: 50px;
        }
        div.lineBreak_desc {
            display: inline-block; 
            width: 185px; 
            white-space: nowrap; 

            white-space: normal; 
            line-height: 1.2;
            word-wrap: break-word; 
            display: -webkit-box; 
            -webkit-line-clamp: 20; 
            -webkit-box-orient: vertical;
        }
    }
</style>
